.Sam{
    display: flex;
    background-color: orange;

}
.op{
    margin-left: 80px;
}
.sam {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white; 
    font-size: 16px;
    margin-right: 90px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out; 
}

.sam:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sam:active {
    background-color: #3e8e41;
    transform: scale(0.98);
}
.op{
    display: flex;
}
